@import url("https://rsms.me/inter/inter.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer components {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .svg-icon {
    @apply h-6 w-6 text-charcoal dark:text-gainsboro hover:text-slate-600 dark:hover:text-slate-400 cursor-pointer transition-all;
  }
}

@layer utilities {
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Inter, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Toastify */
.Toastify__toast-icon {
  width: 24px;
}

.Toastify__close-button > svg {
  fill: inherit;
}
